
header {
    background-color: #bb2019;
    text-align: center;
    color: white; /* Màu chữ là trắng */
    padding: 10px; /* Thêm một số padding để tạo độ rộng cho header */
}
h1{
    text-shadow: 1px 1px 1px black;
}
main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btnStartExam {
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin: auto;
}

.btnStartExam :hover {
    background-color: #bb2019;
}
.mt-15{
    margin-top: 15px;
}